<!DOCTYPE html>
    <head>
        <title>clock</title>
        <link rel="stylesheet" href="../static/css/main.css"/>
        <meta charset="utf-8" />
    </head>

    <body>
        <header>
            <h1>JONG TODO LIST</h1>
        </header>

        <div class="middle">

                <nav>

                    <div class="todoInput">
                        <h4>Make todo list</h4>
                        <input class="inputSize" value="aaa" placeholder="Wrtie to do list"/>
                        <hr>  
                    </div>
                    
                    <div class="createTag">
                        <div>
                            <h4>create Tag</h4>
                            <img class="js-createTag addImg" src="https://img.icons8.com/ultraviolet/40/000000/add-property.png"/>
                        </div>

                        <div class="posTag js-tagList">
                            <!-- Tag List upadate area -->
                        </div>
                        
                        
                        <hr>    
                    </div>
                    
                        
                    
                    <div class="selectColor">
                        <canvas id= "c1" style="background-color: #c70039;" class="color"></canvas>
                        <canvas id= "c2" style="background-color: #a6dcef;" class="color"></canvas>
                        <canvas id= "c3" style="background-color: #f3d1f4;" class="color"></canvas>
                        <canvas id= "c4" style="background-color: #ffd31d;" class="color"></canvas>
                        <canvas id= "c5" style="background-color: #b6eb7a;" class="color"></canvas>
                        <canvas id= "c6" style="background-color: #ff5200;" class="color"></canvas>
                        
                        <canvas id= "c7" style="background-color: #1f4068;" class="color"></canvas>
                        <canvas id= "c8" style="background-color: #5c2a9d;" class="color"></canvas>
                        <canvas id= "c9" style="background-color: #ffdecf;" class="color"></canvas>
                        <canvas id= "c10" style="background-color: #e79cc2;" class="color"></canvas>
                        <canvas id= "c11" style="background-color: #ba7967;" class="color"></canvas>
                        <canvas id= "c12" style="background-color: #eeeeee;" class="color"></canvas>
                    </div>  
                        
                    <img class="js-todoEnroll" style="width: 10%; vertical-align: middle; margin-left: 78%;" src="https://img.icons8.com/material-outlined/48/000000/edit-user-male.png"/>

                </nav>


                <aside>
                    
                    <div class = "filter">
                        <img class="js-filterForm right" src="https://img.icons8.com/material-rounded/52/000000/sorting-answers.png"/>
                        <p class="demo-01 right padding">date</p>
                        
                        <!-- <p class="right padding">tag</p>
                        <p class="right padding">checked</p>
                        <p class="right padding">color</p> -->
                    </div>
                    <hr>

                    <div class = "scroll">
                        <div class="js-showTodoForm1 showTodoList" style="float: left;"></div>
                        <div class="js-showTodoForm2 showTodoList" style="float: right;"></div>
                    </div>
                    

                </aside>
            

        </div>
        
        <script src="../static/js/main.js"></script>
    </body>
</html>